.heading
{
    position: relative;
    left:500px;
}
h1{
   position: relative;
   left:60px;
}
.blockimage{
    border-radius: 50%;
    height:120px;
    width:125px;
    border:3px solid rgb(0, 0, 0);
}
.blockimage:hover{
    border:4px solid rgb(15, 15, 15);
}
.main-logo{
    border-radius: 50%;
    height:200px;
    border:5px solid rgb(0, 0, 0);
}
td{
    background-color: rgba(177, 39, 136, 0.447);
    border-radius: 15px ;
    border:2px solid black;  
}
td:hover{
    border: 3px solid black;
    background-color:rgba(146, 242, 255, 0.979);
}
.main{
    /* background-image: url('/images/javalogo.png'); */
    background-repeat: no-repeat;
    background-size:450px;
    background-position-x: center;  
}
body{
    background-color: rgb(109, 248, 218);
} 
h2,a{
    color:rgb(0, 0, 0);
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.fas fa-star{
    background-color: rgb(255, 255, 255);
    border:2px solid green;
}
